.header{
    width: 100%;
    height: 100vh;
    background-image: url(https://t4.ftcdn.net/jpg/02/07/15/43/360_F_207154340_wLIJus4m3SBl5sAQmpqN3Um7REnUhskU.jpg);
    background-size:cover;
    background-position: center;
}