.skill__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}
.skill__container  div{
    background: gray;
    padding: 20px 50px;
    border: 1px solid #60513e;
    border-radius: 10px;
}

.skill__container  div:hover{
    background: transparent;
    border-color: white;
    cursor: pointer;
}



